/* Desktop Header */

header {
	background: linear-gradient(to bottom, lightyellow, lightblue);
    color: black;
    
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;

    /* On Scroll */
    transition: all 1s ease-out;
    width: -webkit-fill-available;
}

.header_wrap {
    padding-top: 1%;
	text-align: center;
}

.header_wrap h2 {
    display: inline;
    margin: 0 2%;
}

#header_logo_wrap {
	text-align: center;
    padding-bottom: 1%;
}

#img_Header_Logo {
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
	margin: 1% 0 2% 2%;
	width: 60%;
    /* On Scroll */
    transition: all 1s ease-out;
}

#header_title_wrap h1,
#header_title_wrap h2 {
    /* On Scroll */
    transition: all 1s ease-out;
}

#header_title_wrap h1 {
    font-size: 4rem !important;
}

#header_title_wrap h2 {
    font-size: 1.4rem;
}

#header_nav_wrap {
    padding-left: 4%;
}

#header_nav_wrap nav {
    display: flex;
}

#header_nav_wrap nav ul li {
    background-color: lightseagreen;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin: 2%;
    display: inline-block;
    width: -webkit-fill-available;

    /* On Scroll */
    transition: all 1s ease-out;
}

#header_nav_wrap nav li:hover {
    background-color: green;
    cursor: pointer;
}

#header_nav_wrap nav li a {
    color: #fff;
    display: block;
}

#header_nav_wrap li a:hover {
    text-decoration: none;
}

/* Scrolled Desktop & Tablet Header */

@media only screen and (min-width: 768px) {

    header.scrolled #header_title_wrap h1,
    header.scrolled #header_title_wrap h2 {
        display: inline;
        margin: 0 5%;
        width: 50%;
        vertical-align: middle;
    }

    header.scrolled #header_title_wrap h1 {
        font-size: 2rem !important;
    }

    header.scrolled #header_title_wrap h2 {
        font-size: 1.2rem !important;
    }

    header.scrolled #header_nav_wrap nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header.scrolled #header_nav_wrap nav ul li {
        width: 45%;
        margin: 2% 1%;
    }

    header.scrolled #img_Header_Logo {
        width: 50%;
    }

}

/* Mobile Header */

@media screen and (max-width: 767px) {
    
    /* Scrolled Mobile Header */
}
